<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="Atom"> <action name="Execute">
				<execute>atom</execute>
			</action> </item>
			<item label="IDLE"> <action name="Execute">
				<execute>idle</execute>
			</action> </item>
			<item label="Python"> <action name="Execute">
				<execute>xterm -e python</execute>
			</action> </item>
			<item label="Python (v2.7)"> <action name="Execute">
				<execute>xterm -e python2.7</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="Sclient"> <action name="Execute">
					<execute>sclient</execute>
				</action> </item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="FileZilla"> <action name="Execute">
				<execute>filezilla</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="Mail"> <action name="Execute">
				<execute>xterm -e mail</execute>
			</action> </item>
			<item label="Talk"> <action name="Execute">
				<execute>xterm -e talk</execute>
			</action> </item>
			<item label="Telnet"> <action name="Execute">
				<execute>xterm -e telnet</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="TeamViewer 10"> <action name="Execute">
				<execute>teamviewer</execute>
			</action> </item>
		</menu>
		<menu id="4" label="Science">
			<item label="bc"> <action name="Execute">
				<execute>xterm -e bc</execute>
			</action> </item>
			<item label="dc"> <action name="Execute">
				<execute>xterm -e dc</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="File Manager PCManFM"> <action name="Execute">
				<execute>pcmanfm</execute>
			</action> </item>
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="MC"> <action name="Execute">
				<execute>xterm -e mc</execute>
			</action> </item>
			<item label="Terminator"> <action name="Execute">
				<execute>terminator</execute>
			</action> </item>
			<item label="urxvt"> <action name="Execute">
				<execute>urxvt</execute>
			</action> </item>
			<item label="urxvt (client)"> <action name="Execute">
				<execute>urxvtc</execute>
			</action> </item>
			<item label="urxvt (tabbed)"> <action name="Execute">
				<execute>urxvt-tabbed</execute>
			</action> </item>
			<item label="UXTerm"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<item label="Customize Look and Feel"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="Desktop Preferences"> <action name="Execute">
					<execute>pcmanfm --desktop-pref</execute>
				</action> </item>
				<item label="NVIDIA X Server Settings"> <action name="Execute">
					<execute>nvidia-settings</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Preferred Applications"> <action name="Execute">
					<execute>libfm-pref-apps</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Font Viewer"> <action name="Execute">
				<execute>gnome-font-viewer</execute>
			</action> </item>
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
